{% extends "principal.html" %}
{% block title %}Floripa Indo e Vindo - Horários{% endblock %}
{% block content %}
<div>
	<select id="linha" style="width: 380px">
		<option value="nenhum">Escolha ou procure a linha...</option>
		{% for (empresa, linha, nome_linha) in linhas: %}
		{# enjambre temporario-permanente pra tratar os ids doidos da Canasvieiras: #}
		{% set id_linha = linha[:2+linha[2:].find('-')]|capitalize if empresa == 'Canasvieiras' else linha|re_replace('.*/', '') %}
		{% set descricaoLinha = nome_linha + ' ' + id_linha + ' #' + empresa %}
		<option value="{{ linha + '@' + empresa }}">{{ descricaoLinha }}</option>
		{% endfor %}
	</select>
	<div id="loadingDiv" class="alert" style="width: 100px"><strong>Carregando...</strong></div>
</div>
<hr />
<div class="row-fluid">
	<div id="tabela-horarios" class="span9"></div>
</div>
{% endblock %}
{% block js %}
<script>
$('#linha').chosen({no_results_text: "Nenhum resultado para:"});

// carregando:
var loadingDiv = $('#loadingDiv');
loadingDiv.hide(); // hide it initially
$(document)
    .ajaxStart(function() {
        loadingDiv.show();
    })
    .ajaxStop(function() {
        loadingDiv.hide();
    })
;
</script>
{% endblock %}
