<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Floripa Indo e Vindo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {#
    <meta name="author" content="Elias Dorneles">
    #}
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    {% block estilo %}{% endblock %}
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    {#
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    #}
  </head>

  <body>

    <div class="container-narrow">
      {% block menu %}{% endblock %}
      {% block content %}{% endblock %}
      {% block footer %}{% endblock %}
    </div> <!-- /container -->
    {# Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    #}
    {% block javascript %}{% endblock %}
  </body>
</html>


