{% extends "layout.html" %}
{% block menu %}
      <div class="masthead">
	<a href="/" style="text-decoration:none"><h4 style="color: #3a67ad;">{{ self.title() }}</h4></a>
      </div>
{% endblock %}
{% block estilo %}
<style type="text/css">
body {
	padding-top: 15px;
	padding-bottom: 20px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 10px 0;
}
#tabela-horarios table {
	line-height: 15px;
}
#loadingDiv {
	position: absolute;
}
.footer { font-size: 8pt; }
.footer ul li { line-height: 10pt;  }
.corpo-meio br { display: none; }
.corpo-meio .via { width: 300px; }
.corpo-meio h1 { font-size: 1.2em !important; line-height: 1.2em !important; }
.corpo-meio h2 { font-size: 1.1em !important; line-height: 1.1em !important; }
</style>
{% endblock %}
{% block footer %}
<hr>
<div class="footer">
	Informações de linhas e horários oficiais obtidos nos sites oficiais das empresas:
	<ul>
		<li><a href="http://www.transoltc.com.br">Transol - www.transoltc.com.br</a></li>
		<li><a href="http://www.tcestrela.com.br">Estrela - www.tcestrela.com.br</a></li>
		<li><a href="http://www.canasvieirastc.com.br">Canasvieiras - www.canasvieirastc.com.br</a></li>
		<li><a href="http://www.jotur.com.br">JOTUR - www.jotur.com.br</a></li>
	</ul>
</div>
{% endblock %}
{% block javascript %}
<link href="/static/css/chosen.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
{% block js %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1881525-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}
