{% extends "principal.html" %}
{% block title %}RESET APP!{% endblock %}
{% block content %}
<div>
	<form action="/reset" method="post">
		<label>Secret:</label>
		<input type="password" name="secret" />

		<input type="submit" class="submit" value="Reset" name="submit" />
	</form>
</div>
{% endblock %}
